<footer>
    <div>
        <span class="myYellow">___</span><br>
        <p class="about-text">Sobre a barbearia</p>
    </div>
    <div class="d-flex flex-column">
        <p class="about-text" *ngIf="!isEditMessageEnabled">{{aboutBarbershop}}</p>
        <textarea name="about" cols="30" rows="20" [(ngModel)]="aboutBarbershop"
            *ngIf="isEditMessageEnabled"></textarea>
        <i class="fa-regular fa-pen-to-square icon align-self-end mb-1 mt-2" (click)="toogleTextArea()"
            *ngIf="!isEditMessageEnabled && isAdmin"></i>
        <div class="align-self-end">
            <i class="fa-regular fa-circle-xmark icon align-self-end mx-2 mb-1 mt-2" (click)="toogleTextArea()"
                *ngIf="isEditMessageEnabled && isAdmin"></i>
            <i class="fa-regular fa-circle-check icon align-self-end mb-1 mt-2" (click)="setAboutBarbershop()"
                *ngIf="isEditMessageEnabled && isAdmin"></i>
        </div>
    </div>
    <h2 class="text-center color-white my-0">Comentários</h2>
    <hr>
    <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
            <div class="d-flex">
                <img src="data:image/png;base64,{{comment.client.image.data}}" alt="foto">
                <i class="fa-sharp fa-solid fa-quote-left myYellow" id="quote"></i>
                <p>{{comment.content}}</p>
            </div>
            <button class="trash-button mx-1" name="deleteComment" (click)="deleteComment($event, comment)"
                *ngIf="comment.client.person.email == loggedClientEmail || isAdmin">
                <i class="fa-solid fa-trash-can trash-icon"></i>
            </button>
        </div>
    </div>
    <hr>
    <form>
        <div class="comment-area">
            <img src="data:image/png;base64,{{imageURL}}" alt="user-image" *ngIf="isLogged">
            <img src="{{imageURL}}" alt="user-image" *ngIf="!isLogged">
            <textarea class="comment-text-field bg-dark text-white mx-1" placeholder="Deixe um commentário..."
                name="comment-text" id="comment-text" [(ngModel)]="content"></textarea>
        </div>
        <input type="submit" value="Enviar" class="send-button" (click)="createComment()">
    </form>
    <div class="social-media">
        <a href="https://www.instagram.com/" class="color-white" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.whatsapp.com/?lang=pt_br" class="color-white" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://m.facebook.com/" target="_blank">
            <i class="fa-brands fa-square-facebook face-icon"></i>
        </a>
    </div>
</footer>