<div class="contact-wrapper">
    <form action="javascript:void(0)" [formGroup]="form" class="card form-group" (submit)="send()">
        <h1>Contate-nos</h1>

        <h2>Envie-nos suas dúvidas e ideias</h2>

        <label for="name">*Nome</label>
        <input type="text" required id="name" [class.is-invalid]="nameControl?.touched && nameControl?.invalid"
            formControlName="from_name">

        <label for="email">*E-mail</label>
        <input type="text" required id="email" [class.is-invalid]="emailControl?.touched && emailControl?.invalid"
            formControlName="from_email">

        <label for="subject">Assunto</label>
        <input type="text" id="subject" formControlName="subject">

        <label for="message">*Mensagem</label>
        <textarea name="message" required cols="30" rows="10"
            [class.is-invalid]="messageControl?.touched && messageControl?.invalid"
            formControlName="message"></textarea>

        <!-- <label for="input-file" class="input-wrapper">
            <i class="fa-solid fa-paperclip"></i>
            Escolha um arquivo
        </label>
        <div class="attachment">
            <input type="file" id="input-file">
        </div> -->
        <Button type="submit" class="btn">Enviar</Button>
    </form>
</div>