* {
    color: white;
}

.contact-wrapper {
    display: flex;
    height: 590px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    width: 300px;
    position: relative;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    height: 480px;
    padding: 20px 30px;

}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 12px;
    line-height: 0px;
    margin-bottom: 30px;
}

label {
    font-size: 12px;
}

input {
    background: rgba(0, 0, 0, 0.0);
    margin-bottom: 5px;
    border: solid 2px white;
    border-radius: 5px;
}

.is-invalid {
    border: 2px solid #dc3545;
    box-shadow: 0 0 7px rgba(220, 53, 69, 0.5);
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 1) inset;
}

.text-camp {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: solid white 2px;
    font-size: 12px;
}

textarea {
    height: 100px;
    background: rgba(0, 0, 0, 0.0);
    border: solid 2px white;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type='submit'] {
    background-color: #FFCE2E;
    color: black;
    margin: 10px 0;
    font-weight: 500;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 60%;
    align-self: center;
}

/* .attachment {
    overflow: hidden;
    align-self: center;
    width: 50%;
} */

/* #input-file {
    position: relative;
    right: 92px;
    border: none;
    font-size: 10px;
} */

[value='Enviar'] {
    border: none;
}