<h1>Clientes</h1>
<div class="client-wrapper">
    <div class="form-popup" id="myForm">
        <form #orderForm="ngForm" name="orderForm" action="/action_page.php" class="form-container"
            (ngSubmit)="onSubmit()" novalidate>
            <h2 id="form-title"></h2>

            <label for="title"><b>Nome</b></label>
            <input type="text" placeholder="Digite o nome" id="title" name="title" required
                [ngModel]="client.person.name" />

            <label for="price"><b>Telefone</b></label>
            <input type="text" placeholder="Digite o preço" id="price" name="price" required
                [ngModel]="client.person.phone" />

            <label for="description"><b>Endereço</b></label>
            <input type="text" placeholder="Digite o preço" id="description" name="description" required
                [ngModel]="client.person.address" />

            <div class="d-flex justify-content-between">
                <button type="button" class="btn cancel" id="close-button" (click)="closeForm()">
                    <b>Fechar</b>
                </button>
                <button type="submit" class="btn" (click)="closeForm()">
                    <b>Salvar</b>
                </button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="accordion" *ngFor="let client of clients; let i = index">
            <div class="item">
                <h2 class="item-header" (click)="toggleCollapse(i)">
                    <button class="item-button" type="button">
                        {{client.person.name}}
                    </button>
                    <i class="fa-solid fa-chevron-down" *ngIf="collapsedClients[i]"></i>
                    <i class="fa-solid fa-chevron-up" *ngIf="!collapsedClients[i]"></i>
                </h2>
                <div [ngClass]="{'collapsed': collapsedClients[i]}">
                    <div class="item-body">
                        <span>Nome: {{client.person.email}}</span>
                        <span>Telefone: {{client.person.phone}}</span>
                        <span>Endereço: {{client.person.address}}</span>
                        <div class="d-flex justify-content-end">
                            <button class="trash-icon" name="editClient" (click)="openForm($event, client)">
                                <i class="fa-regular fa-pen-to-square trash-icon"></i>
                            </button>
                            <button class="trash-icon" name="deleteClient" (click)="openDeleteDialog($event, client)">
                                <i class="fa-solid fa-trash-can trash-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end">
    <button routerLink="/profile" class="plus-button"><i class="fa-solid fa-circle-plus plus-icon"></i></button>
</div>