.appointment-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 540px;
}

h1 {
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin: 0;
}

.item {
    background-color: black;
    margin-bottom: 5px;
    border: solid 1px #FFCE2E;
    border-radius: 5px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCE2E;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px;

}

.item-button {
    background-color: #FFCE2E;
    width: 100%;
    border: none;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}


.item-body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 5px;

}

.container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 0;
}

.appointments {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 100px;
    grid-row-gap: 10px;
    grid-column-gap: 2%;
    width: 100%;
    overflow: scroll;
}

.appointment {
    width: 180px;
    height: 100px;
    background-color: #FFCE2E;
    color: black;
    border-radius: 5px;

}

.collapsed {
    display: none;
}

.plus-button {
    border: none;
    background-color: transparent;
    align-self: flex-end;
    justify-self: flex-end;
}

.plus-icon {
    font-size: 40px;
    color: #FFCE2E;
    border-radius: 20px;
    margin-bottom: 5px;
}

.trash-icon {
    font-size: 20px;
    color: #FFCE2E;
    border-radius: 20px;
    width: 20px;

}