.appointment-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 520px;
}

h1 {
  color: white;
  text-align: center;
  padding: 15px 10px;
  margin: 0;
}

.appointments {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 100px;
  grid-row-gap: 10px;
  grid-column-gap: 2%;
  width: 100%;
  overflow: scroll;
}

.appointment {
  width: 180px;
  height: 100px;
  background-color: #FFCE2E;
  color: black;
  border-radius: 5px;


}

mat-card {
  background-color: #FFCE2E;
  overflow: hidden;
}

.item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

.plus-button {
  position: relative;
  align-self: flex-end;
  width: 36px;
  border: none;
  background-color: transparent;
  margin-top: 30px;
  margin-right: 10px;
  bottom: 0;
}

.plus-icon {
  font-size: 40px;
  color: #FFCE2E;
  border-radius: 20px;
  width: 36px;

}
