.calendar {
	display: none;
}

.book-button {
	position: relative;
	background-color: #FFCE2E;
	border-radius: 10px;
	width: 130px;
	height: 38px;
	align-self: center;
	margin-top: 10px;
	font-size: 20px;

}

.hour-wrapper {
	display: flex;
	width: 100%;
	height: 380px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: 0px;
}

.hour-button {
	display: flex;
	position: relative;
	background-color: #FFCE2E;
	color: black;
	width: 58px;
	height: 30px;
	font-weight: bold;
	border-radius: 10px;
	list-style-type: none;
	align-items: center;
	justify-content: center;
	margin: 0 10px;

}

.hour-button[is-selected='true'] {
	background-color: black;
	color: #FFCE2E;
	border: 2px solid #FFCE2E;
}

.image {
	position: relative;
	width: 80px;
	height: 60px;
	border-radius: 20px;
}

.barber {
  position: relative;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	line-height: 14px;

}

.my-select {
	background-color: #FFCE2E;
	border-radius: 10px;
	font-size: 12px;
	text-align: center;
	width: 80px;

}

a {
	text-decoration: none;
}

.order {
	display: flex;
  position: relative;
	flex-direction: column;
	color: white;
	line-height: 14px;
	text-align: center;

}

.price {
	background-color: #FFCE2E;
	border-radius: 10px;
	font-size: 12px;
	color: black;
	width: 75px;
}

mat-card {
	position: relative;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	border-radius: 8px;
	height: 400px;
	width: 350px;
	margin: 0;

}

mat-form-field {
	width: 288px;
}

button:focus,
select:focus {
	outline: thin dotted;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}

::ng-deep .cdk-focused {
	outline: thin dotted !important;
	outline: 0px auto -webkit-focus-ring-color !important;
	outline-offset: 0px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
	background: rgba(0, 0, 0, 0.7) !important;
	border-radius: 10px;
	padding: 0 10px;
}

::ng-deep .ng-tns-c93-0 {
	border: none !important;
}

::ng-deep .mat-datepicker-input {
	color: white !important;
}

::ng-deep .mat-datepicker-content {
	background-color: black;
	color: white;
}

::ng-deep .mdc-icon-button {
	color: white !important;
	border: none !important;
}

::ng-deep mat-label {
	color: white !important;

}

::ng-deep span {
	color: white;
}

::ng-deep button.mat-calendar-previous-button,
::ng-deep button.mat-calendar-next-button {
	background-color: black;
	color: white !important;
}

::ng-deep button.mat-calendar-previous-button:hover,
::ng-deep button.mat-calendar-next-button:hover {
	background-color: #FFCE2E;
	color: black !important;
}

::ng-deep .mat-calendar-body-selected {
	background-color: #FFCE2E;
	color: black !important;
}

::ng-deep .mat-calendar-body-active {
	outline: thin dotted !important;
	outline: 0px auto -webkit-focus-ring-color !important;
	outline-offset: 0px !important;
}

::ng-deep .mat-calendar-body-cell-content {
	color: white;
}

::ng-deep .mat-calendar-body-cell-content:hover {
	color: black;
}

::ng-deep .mat-calendar-body-label {
	color: white;
	opacity: 0;
}

::ng-deep .mat-focus-indicator:hover {
	background-color: #FFCE2E !important;
}

button {
	border: none;
}
