<div class="contact-wrapper">
    <form #userForm="ngForm">
        <h1>Ainda não tem um perfil? <br>Registre-se</h1>
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" [ngModel]="name" (ngModelChange)="name = $event">

        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" [ngModel]="email" (ngModelChange)="email = $event">

        <label for="password">Senha</label>
        <input type="password" id="password" name="password" [ngModel]="password" (ngModelChange)="password = $event">

        <label for="confirm-password">Confirme a senha</label>
        <input type="text" id="confirm-password" name="confirm-password" [ngModel]="confirmPassword"
            (ngModelChange)="confirmPassword = $event">

        <input type="submit" value="Registrar" (click)="onRegister()">
        <div class="align-self-center"><span>Já possui registro? </span><a (click)="onLogin()"><b>Faça login</b></a>
        </div>
    </form>

</div>