* {
    color: white;
}

.contact-wrapper {
    display: flex;
    height: 590px;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    width: 300px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
}

h1 {
    font-size: 18px;
    text-align: center;
}

h2 {
    font-size: 12px;
    line-height: 0px;
    margin-bottom: 30px;
}

input {
    background: rgba(0, 0, 0, 0.0);
    border: none;
    border-bottom: 3px solid white;
    margin-bottom: 5px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.9) inset;
}

input[value='Registrar'],
button[value='Entrar'] {
    display: flex;
    width: 152.14px;
    height: 41.3px;
    margin-top: 20px;
    background-color: #FFCE2E;
    color: black;
    border-radius: 15px;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 18px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#input-file {
    position: relative;
    right: 93px;
    margin: 0;
    border: none;
    font-size: 10px;
}

[value='Registrar'] {
    border: none;
}


html,
body {
    height: 100%;
    background-color: FED;
}

body {
    display: flex;
    align-items: start;
    padding-top: 100px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}