<div class="chair-wrapper">
    <h1>Cadeiras</h1>
    <form #barberForm="ngForm" id="myForm" name="barberForm" action="/action_page.php" class="form-container"
        novalidate>
        <h2 class="text-center" id="form-title"></h2>
        <label for="barbers"><b>Barbeiro</b></label>
        <br>
        <select class="my-select" name="barbers" id="barbers" [(ngModel)]="chair.barber.person.name">
            <option *ngFor="let barber of barbers" value="{{barber.person.name}}">
                {{barber.person.name}}
            </option>
        </select>
        <br>
        <label for="startDate"><b>Data início</b></label>
        <br>
        <input matInput [matDatepicker]="pickerStart" placeholder="Escolha a data" [(ngModel)]="chair.startDate"
            name="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
        <br>
        <label for="endDate"><b>Data fim</b></label>
        <br>
        <input matInput [matDatepicker]="pickerEnd" placeholder="Escolha a data" [(ngModel)]="chair.endDate"
            name="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
        <br>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn cancel" id="close-button" (click)="closeForm()"><b>Fechar</b></button>
            <button type="submit" class="btn" (click)="saveChair()"><b>Salvar</b></button>
        </div>
    </form>
    <div class="table-header">
        <div class="text-white px-1">Nº</div>
        <div class="text-white px-1">Barbeiro</div>
        <div class="text-white px-1">Início</div>
        <div class="text-white px-1">Fim</div>
    </div>
    <div class="chairs">
        <div *ngFor="let chair of chairs">
            <div class="chair">
                <div class="item">{{ chair.customId }}</div>
                <div class="item">{{ chair.barber.person.name }}</div>
                <div class="item">{{ chair.formatedStartDate }}</div>
                <div class="item">{{ chair.formatedEndDate }}</div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="crud-buttons" name="editChair" (click)="openForm($event, chair)">
                    <i class="fa-regular fa-pen-to-square trash-icon"></i></button>
                <button class="crud-buttons mx-0" name="deleteChair" (click)="deleteChair($event, chair)">
                    <i class="fa-solid fa-trash-can trash-icon"></i>
                </button>
            </div>
        </div>
    </div>
    <button class="plus-button" name="createChair" (click)="openForm($event, chair)">
        <i class="fa-solid fa-circle-plus plus-icon"></i>
    </button>
</div>
