.orders {
  display: flex;
  width: 100%;
  height: 530px;
  flex-direction: column;
  color: white;
  padding: 0px 7px 15px;
  justify-content: space-between;
}

.order {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
  padding-top: 20px;
}

img {
  width: 65px;
  height: 70px;
  border-radius: 10px;
}

.title {
  background-color: #ffce2e;
  border-radius: 10px;
  font-weight: bold;
  font-size: 10px;
  color: black;
  width: 68px;
  text-align: center;
  margin-top: 2px;
  align-self: center;
  line-height: 100%;
  padding: 4px;
  word-break: break-all;
}

.price {
  background-color: #ffce2e;
  border-radius: 10px;
  font-size: 10px;
  color: black;
  width: 50px;
  text-align: center;
  margin-top: 2px;
  align-self: center;
}

.description {
  display: block;
  line-height: 100%;
  width: 290px;
  height: 70px;
  padding: 2px;
  max-height: 80px;
  overflow-x: scroll;
}

.plus-button {
  align-self: flex-end;
  justify-self: flex-end;
  width: 36px;
  border: none;
  background-color: transparent;
  margin-top: 25px;
}

.plus-icon {
  font-size: 40px;
  color: #ffce2e;
  border-radius: 20px;
  width: 36px;
}

.trash-icon {
  font-size: 20px;
  color: #ffce2e;
  border-radius: 20px;
  width: 20px;
}

span button {
  justify-self: flex-end;
}

.crud-buttons {
  align-self: flex-end;
  justify-self: flex-end;
  width: 25px;
  border: none;
  margin-right: 5px;
  background-color: transparent;
}

h2 {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.form-popup {
  display: none;
  position: fixed;
  right: 10px;
  top: 110px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  border: none;
}

/* Add styles to the form container */
.form-container {
  flex-direction: column;
  width: 370.4px;
  padding: 10px;
  background-color: black;
  border: none;
  align-self: start;
  color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="number"],
form-container input[type="file"] {
  width: 100%;
  max-height: 30px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-bottom: solid 1px white;
  background: black;
  color: white;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.9) inset;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="number"]:focus {
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #ffce2e;
  color: black;
  padding: 12px 20px;
  right: 10px;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 20px;
  opacity: 0.9;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
