<div class="home">
    <div class="welcome">
        <h1>Bem vindo!</h1>
        <div class="d-flex justify-content-center mt-5">
            <!-- <img src="assets/images/beard-model.png" alt="beard-model" *ngIf=""> -->
            <p id="welcomeMessage" class="text-justify" *ngIf="!isEditMessageEnabled">{{welcomeMessage}}</p>
            <textarea name="message" cols="30" rows="10" [(ngModel)]="welcomeMessage"
                *ngIf="isEditMessageEnabled"></textarea>
        </div>
        <i class="fa-regular fa-pen-to-square icon align-self-end mx-3 mb-5 mt-2" (click)="toogleTextArea()"
            *ngIf="!isEditMessageEnabled && isAdmin"></i>
        <i class="fa-regular fa-circle-check icon align-self-end mx-3 mb-5 mt-2" (click)="setMessage()"
            *ngIf="isEditMessageEnabled && isAdmin"></i>
        <button routerLink="/agenda" [class.mt-5]="!isAdmin" class="btn">
            Agende seu corte
        </button>
    </div>
</div>
