* {
    color: white;
}


h2 {
    margin: 0;
}

i,
span {
    color: black;
}

.report-wrapper {
    display: flex;
    flex-direction: column;
}

.export-button {
    background-color: #FFCE2E;
    color: black;
    padding: 5px 10px;
    align-self: flex-end;
    font-size: 12px;
}

.chart {
    width: 100%;
}

.text-rotate {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.report-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCE2E;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
    padding: 5px;
    color: black;
}

.report-type-list {
    position: absolute;
    z-index: 2;
    margin-top: 158px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCE2E;
    border-radius: 5px;
    font-size: 12px;
    width: 340px;
    padding: 5px;
    color: black;
}

.collapse {
    display: none;
}

.reports-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCE2E;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    color: black;
}

option {
    color: black;
    width: 100%;
}

.square {
    background-color: var(--clr);
    border: solid black;
    height: 30px;
    width: 30px;
    color: transparent;
}

.months-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFCE2E;
    border-radius: 5px;
    width: 130px;
    height: 150px;
    padding: 3px;
    font-size: 12px;
    overflow: scroll;
}

.months-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 130px;
    color: black;
    background-color: #FFCE2E;
    padding: 5px;
    border-radius: 5px;
}

li {
    list-style-type: none;
    color: black;
    margin: 0;
    padding: 5px 3px;
}

li:hover {
    background-color: black;
    color: #FFCE2E;
}

.simple-bar-chart {
    --line-count: 10;
    --line-color: currentcolor;
    --line-opacity: 0.25;
    --item-gap: 2%;
    --item-default-color: #060606;

    height: 10rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 0.5rem;
    /*space for labels*/
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
}

.simple-bar-chart::after {
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
    box-shadow: 0 var(--line-width) 0 var(--line-color);
    opacity: var(--line-opacity);
}

.simple-bar-chart>.item {
    height: calc(2% * var(--val));
    background-color: var(--clr, var(--item-default-color));
    position: relative;
    animation: item-height 1s ease forwards;
}

@keyframes item-height {
    from {
        height: 0
    }
}

.simple-bar-chart>.item>* {
    position: absolute;
    text-align: center
}

.simple-bar-chart>.item>.label {
    inset: 100% 0 auto 0
}

.simple-bar-chart>.item>.value {
    inset: auto 0 100% 0
}

/* demo */
body {
    margin: 0;
    padding: 2rem;
    color: #1D1E22;
    background-color: #f0f0f0;
    font-family: system-ui, sans-serif;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1D1E22;
        color: #f0f0f0;
    }
}

body>* {
    max-width: 45rem;
    margin-inline: auto
}