.barbers {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0px 0px 15px;
    height: 530px;
    width: 100%;
}

.barber {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

img {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 10px;
}

.first-rating {
    background: rgba(0, 0, 0, 0.3);
    color: #FFCE2E;
    border: solid 1px #FFCE2E;
    font-size: 12px;
    border-radius: 5px;
    padding: 1px 5px;
}

.rateBarberBox {
    position: absolute;
    top: 100px;
    align-self: center;
    display: flex;
    z-index: 3;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.star {
    color: #FFCE2E;
    font-size: 25px;
}

.rate-button {
    background-color: #FFCE2E;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.name {
    position: relative;
    min-width: 60px;
    max-width: 60px;
    background-color: #FFCE2E;
    border-radius: 10px;
    font-size: 12px;
    color: black;
    text-align: center;
    line-height: 100%;
    padding: 5px;
    word-break: break-word;
}

.about-wrapper {
    width: 100%;
}

.about {
    position: relative;
    line-height: 100%;
    padding: 2px;
    width: 100%;
    height: 60px;
    max-height: 80px;
    overflow: scroll;
}

.rating {
    display: flex;
    align-items: center;
    padding-right: 5px;
    width: 70%;
}

.plus-button {
    position: relative;
    align-self: flex-end;
    width: 36px;
    border: none;
    background-color: transparent;
    margin-top: 30px;
    margin-right: 10px;
    bottom: 0;
}

.plus-icon {
    font-size: 40px;
    color: #FFCE2E;
    border-radius: 20px;
    width: 36px;

}

.trash-icon {
    font-size: 20px;
    color: #FFCE2E;
    background-color: transparent;
    border: none;
    padding: 0;
}


.crud-buttons {
    display: flex;
    border: none;
    width: 50px;
    padding: 0;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

.form-popup {
    position: fixed;
    top: 110px;
    border: 3px solid #f1f1f1;
    z-index: 2;
    border: none;
    margin-right: 10px;

}

/* Add styles to the form container */
.form-container {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=number],
form-container input[type=file] {
    width: 100%;
    max-height: 30px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-bottom: solid 1px white;
    background: black;
    color: white;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.9) inset;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=number]:focus {
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #FFCE2E;
    color: black;
    padding: 12px 20px;
    right: 10px;
    border: none;
    cursor: pointer;
    width: 150px;
    margin-bottom: 10px;
    margin-top: 20px;
    opacity: 0.9;

}

.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}